{% extends "rest_framework/horizontal.html" %}
{% block form_content %}
    <div style="color: red; font-size: 20px;">Custom Template Loaded</div>
    <style>
        .form-group { margin-bottom: 15px; padding: 10px; border-bottom: 1px solid #eee; }
        label { font-weight: bold; color: #333; }
        .errorlist { color: #a94442; background-color: #f2dede; padding: 5px; }
        textarea { width: 100%; min-height: 100px; }
    </style>
    {% for field in form %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
                <div class="errorlist">{{ field.errors }}</div>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}